<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="login-component">
  <template>
    <style>
      :host {
        display: block;
      }

      /*The body wallpaper is in the index of the demo folder */
      .container-large{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;
        padding: 80px 40px;
        box-sizing: border-box;
        background-color: #0000003b;
      }

      .container-small{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 350px;
        height: 420px;
        padding: 80px 40px;
        box-sizing: border-box;
        background-color: #ffffff82;
        box-shadow: 0 5px 15px rgba(0,0,0,.2);
        border-radius: 1rem;
      }

      h2{
        margin: 0px;
        padding: 0 0 10px;
        color: #444444;
        text-align: center;
      }

      .container-small p{
        padding: 0;
        margin: 0;
        font-weight: solid;
        color: #444444;
      }

      .container-small input{
        width: 100%;
        margin-bottom: 20px; 
      }

      .container-small input[type="text"], .container-small input[type="password"]{
        border: none;
        border-bottom: 1px solid #444444;
        background: transparent;
        outline: none;
        height: 40px;
        color: #fff;
        font-size: 16px;
      }

      .container-small button{
        background: none;
        border: none;
        outline: none;
        width: 100%;
        height: 40px;
        color: #444444;
        font-size: 16px;
        cursor: pointer;
        border-radius: 0.5rem;
        margin-bottom: 10px;
        border: 2px solid #00b3c5;
      }

      .container-small button:hover{
        background: #67efdd26;
        border: 2px solid #17ccb447;
      }

      .container-small a{
        color: #444;
        font-size: 14px;
        font-weight: solid;
      }

      .container-small a:hover{
        color: #00b3c5;
      }

      ::placeholder{
        color: #33333363;
      }

      .user-ico{
        width: 100px;
        height: 100px;
        overflow: hidden;
        position: absolute;
        top: calc(-100px/2);
        left: calc(50% - 50px);
        box-shadow: 0 5px 15px #00000080;
        border-radius: 60%;
      }
    </style>

<div class="container-large">
    <!--Start my-component-->
    <div class="container-small">

      <img src="../bower_components/polymer/img/banner.jpg" alt="ib-image" class="user-ico">
      <h2>[[title]]</h2>

      <p>[[email]]</p>
      <input type="text" placeholder="Enter Email" value="{{txtEmail::input}}">

      <p>[[pass]]</p>
      <input type="password" placeholder="Enter Password" value="{{txtPass::input}}">

      <button on-click="validar">[[button]]</button>

      <a href="#">¿Forgot Password?</a>
    </div>
    <!--End my-component-->
</div>

  </template>

  <script>
    /**
     * `login-component`
     * form login component
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class LoginComponent extends Polymer.Element {
      static get is() { return 'login-component'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'login-component'
          },

          title: {
            type: String,
            value: 'LOGIN'
          },

          button: {
            type: String,
            value: 'Sign In'
          },

          email:{
            type: String,
            value: 'E-mail'
          },

          pass:{
            type: String,
            value: 'Password'
          },
        };
      }

      validar(e){
        if (this.txtEmail === 'luis' && this.txtPass === '123') {
          alert("session started");
        } else {
          alert("session denied");
        }
        console.log(this.txtEmail, this.txtPass);
      }
    }

    window.customElements.define(LoginComponent.is, LoginComponent);
  </script>
</dom-module>
